.flex-spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 16px;
}

.github-logo, .angular-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.context {
  font-weight: 400;
  padding: 20px 50px
}
